h2, legend { 
	font-size: 2.5em;
	display: inline-block;
}
section {
	margin: .5em;
	font-family: 'Open Sans', sans-serif;
	border: .2em;
}
.centered {
	position: fixed;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.displayTip {
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%);
	border: 10px;
}
input[type="radio"] {
	margin: 1em;
}
p.error {
	color: red;
}